// Specific CSS for your home-page
.container-winter {
  background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url('snow.jpeg');
  background-size: cover;
  width: 100%;
  padding-bottom: 210px;
}

.title {
  width: 100%;
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.item {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

}

.link-add-equipment {
  text-decoration: none;
  color: #477BC8;

}

.container-winter {
  text-align: center;
}

@media(max-width: 992px) {
  .item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 848px) {
  .item {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 558px) {
  .item {
    grid-template-columns: 1fr;
  }
}
