// Specific CSS for your home-page
.container-winter {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('snow.jpeg');
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-family: Helvetica;
}

.title {
  width: 100%;
  font-size: 20px;
  color: white;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 20px;

}

.item {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

