<div class="info-window">
  <h2><%= equipment.name.capitalize %></h2>
  <p><%= equipment.address %></p>
  <%= cl_image_tag equipment.photo, alt: "Photo of the equipment" %>
</div>


<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
