.button {
  border: 1px solid #dcdcdc;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #4DD599;
  border: none;
  margin: 10px 120px 10px 120px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color:#4DD599;
  text-decoration: none;
  color: #329368;
  font-weight: bold;
}



