.index-map-container {
  .map-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 20px;
  }

  #map {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    top: 45px;
    position: sticky;

  }

  .mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
}
