.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .nav-item {
    padding-right: 30px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  .avatar {
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 50px;

}

.navbar-lewagon p {
  font-family:'Permanent Marker', cursive;
  font-size: 30px;
  padding-top: 5px;

  a {
    color: black;
  }

  :hover {
    color: #4DD599;
    text-decoration: none;
  }
}
