#coin_sup_gauche {
  border-radius: 10px 0 0 0;

}

#coin_sup_droit {
  border-radius: 0 10px 0 0;

}

table {
  margin-top: 30px;
  width: 100%;

  th {
    width: 200px;
    height: 50px;
  }
}


thead {
  background-color: #4DD599;

  th {
    color: white;
    text-align: center;
    vertical-align: middle;

  }
}

tbody {
  border-left: 0.5px dashed #4DD599;
  border-right: 0.5px dashed #4DD599;
  border-bottom: 0.5px dashed #4DD599;

}

tbody, th, td {
  text-align: center;
  vertical-align: middle;

}

tbody tr:nth-child(even){
  background-color: #E6E6E6;

}

tbody tr:nth-child(odd){
  background-color: white;

}


tbody tr:hover {
  background-color: #CCCCCC;
}

.reservation-pending {
  background-color: white ;
  border: 2px solid #DABC2A ;
  color: #DABC2A;
  border-radius: 5px;
  width: 120px;
  padding: 3px;
}

.reservation-confirmed{
  background-color: white;
  border: 2px solid #4DD599;
  color: #4DD599;
  border-radius: 5px;
  width: 120px;
  padding: 3px;
}

.reservation-declined {
  background-color: white;
  border: 2px solid #D23333;
  color: #D23333;
  border-radius: 5px;
  width: 120px;
  padding: 3px;
}

.center-answer {
  display: flex;
  justify-content: center;
}
